
<header>
  <h1>
    <span role="img" aria-label="blog"></span>
    <a href="/">Tech Blog</a>
  </h1>
  <nav>
    <!-- Conditionally render login or logout links -->
    {{#if logged_in}}
      <a href="/dashboard">Dashboard</a> |
      <a href="/logout">Logout</a>
    {{else}}
      <a href="/login">Login</a> |
      <a href="/signup">Sign Up</a>
    {{/if}}
  </nav>
</header>
